.hero {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url("./forras/autokolcsonzo_fejlecbe.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-box {
  position: absolute;
  right: 15%;
  top: 35%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px;
  border-radius: 5px;
  width: 900px;
  text-align: right;
  max-width: 95%;
}

.simple-box {
  text-align: left;
  width: 100%;
}

.simple-box .btn {
  width: 100%;
}

@media (max-width: 992px) {
  .hero {
    height: 300px;
  }
  .hero-box {
    width: 80%;
    padding: 12px;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 250px;
  }
  .hero-box {
    width: 95%;
    padding: 10px;
    text-align: center; 
  }
}
